---
title: Welcome to Middleman
---

.container-fluid.no-padding
  .row.top-full-height.black-background
    .col-xs-12
      .row
        .col-xs-12
          logo
      .row
        .col-xs-12
          %article
            %header
              %h1 WebVolta
            %h2 Creating responsive web solutions, web apps, branding and more.

  .row.half-view-height
    .col-xs-12.white-background
      %article
        %header
          %h1 who we are
        %body
          %hr
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .row.black-background.half-view-height
    %article.icon-section.half-view-height
      .col-xs-12.col-sm-4.bordered.half-view-height
        .hover-fade.half-view-height
          %h2 This is some overlay text
        %p col 1
      .col-xs-12.col-sm-4.bordered.half-view-height
        .hover-fade.half-view-height
          %h2 This is some overlay text
        %p col 2
      .col-xs-12.col-sm-4.bordered.half-view-height
        .hover-fade.half-view-height
          %h2 This is some overlay text
        %p col 3
